<div class="container mt-3">
  <h1>新增餐廳內容</h1>
  <form action="/restaurants/new" method="POST">
    <div class="m-2">
      <label for="name">名稱<span class="text-danger">*</span></label>
      <input id="name" type="text" name="name" placeholder="餐廳名稱..." required>
    </div>
    <div class="m-2">
      <label for="name_en">英文<span class="text-danger">*</span></label>
      <input id="name_en" type="text" name="name_en" placeholder="name..." required>
    </div>
    <div class="m-2">
      <label for="category">類別<span class="text-danger">*</span></label>
      <input id="category" type="text" name="category" placeholder="輸入列別..." list="category-list" required>
        <datalist id="category-list">
          <option value="台式"></option>
          <option value="日式"></option>
          <option value="咖啡"></option>
          <option value="牛排"></option>
        </datalist>
    </div>
    <div class="m-2">
      <label for="image">照片<span class="text-danger">*</span></label>
      <input id="image" type="text" name="image" placeholder="照片連結..." required>
    </div>
    <div class="m-2">
      <label for="location">地址<span class="text-danger">*</span></label>
      <input id="location" type="text" name="location" placeholder="彌敦道9號..." required>
    </div>
    <div class="m-2">
      <label for="phone">電話<span class="text-danger">*</span></label>
      <input id="phone" type="text" name="phone" placeholder="79979..." required>
    </div>
    <div class="m-2">
      <label for="google_map">地圖<span class="text-danger">*</span></label>
      <input id="google_map" type="text" name="google_map" placeholder="gooele map..." required>
    </div>
    <div class="m-2">
      <label for="rating">評分<span class="text-danger">*</span></label>
      <input id="rating" type="number" min="0" max="5" step="0.1" name="rating" placeholder="3..." required>
    </div>
    <div class="m-2">
      <label for="description">描述<span class="text-danger">*</span></label>
      <input id="description" type="text" name="description" placeholder="好吃喔" required>
    </div>
    <button type="submit" class="btn btn-primary">新增</button>
    <a href="/" class="btn btn-danger" onclick="window.location.href = this.href;">返回</a>
  </form>
</div>
